
    body {
       background-color: #85CDFD;
      font-family: 'Julee'
    }
    @media (max-width: 600px) {
        .title {
            width: 250px;
        }
    }

    .Flexbox{
        display: inline-flex;
        flex-direction: column;
        border: 5px solid;
        gap: 10px;
        padding: 5px;

    }

    .topmenu {
        background-color: Black;
        display: inline-flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        border: 5px solid;
        border-width: 5px 5px 0px 5px;
        flex-wrap: wrap-reverse;
    }


   .advertisebox1 {
        display: inline-flex;
        align-items: right;
        flex-direction: column;
        gap: 10px;
        margin-left: 110px;

   }

   .advertise1 {
        background: red;
        display: inline-flex;
        flex-direction: column;
        gap: 50px;
        border: 5px solid;
        align-items: center;
        margin-left: 5px;
         }
    


    .minnie {
        background-color: #85CDFD
    }

    .sidebarmenu {
       display: flex;
       position: fixed;
        margin-top: 110px;
        flex-direction: row;

        
        
    }

    .praisebox {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 110px;
        
    }
    .praiseprofile{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .praiseprofilepic{
        height: 150px
    }

    .praisestatement1 {
        font-size: 48pt;
        text-align: center;
    }

    .praisestatement2 {
        font-size: 18pt;
        text-align: center;

    }
    
    


