
    body {
       background-color: #85CDFD;
      font-family: 'Julee'
    }

    .title {
       height: 65px;
       position: absolute;
       left: 5px;
       top: 5px;
    }

    .top-container-one {
        background-color: #85CDFD;
       
    }
        
    .container-one {
          position: relative;
          background-color: blue;
          border-radius: 50%;
           margin-left: 110px;
          
    }
      
    .container-two {
        background-color: pink;    
        border-radius: 100%;
         margin-left: 110px;
        
    }
      
    .container-three {
        background-color: purple;
        border-radius: 100%;
         margin-left: 110px;
    }
      

    .top-container-menu {
        background-color: Black;
       position: relative;
        text-align: right;
       


    }

    .main-body {
        position: relative;
        color: white;
        text-align: center;
        
        

    }   

    .top-header {
        font-size: 30px;
        
    }


    .minnie {
        background-color: #85CDFD
    }

    .sidebarmenu {
        position: fixed;
        
    }

    .firsttesta {
        position: relative;
        margin-left: 5%;
    }

    .testimoney {
        margin-left: 110px;
    }

    .valuable {
        font-size: 48pt;
        text-align: center;
    }

    .something {
        font-size: 18pt;
        text-align: center;

    }

   

    .basicpro{
        height: 150px
    }


    .profiletest{
        float: left;
        padding: 20px;
        text-align: center;
        height: 400px;
        width: 50%;
    }

